<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sam.db.mapper.QbBaqryMapper">
  <resultMap id="BaseResultMap" type="io.sam.db.domain.QbBaqry">
    <!--@mbg.generated-->
    <!--@Table Qb_Baqry-->
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="RYBH" jdbcType="VARCHAR" property="rybh" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="SFZH" jdbcType="VARCHAR" property="sfzh" />
    <result column="RSSJ" jdbcType="TIMESTAMP" property="rssj" />
    <result column="LSSJ" jdbcType="TIMESTAMP" property="lssj" />
    <result column="RYGJ" jdbcType="VARCHAR" property="rygj" />
    <result column="SFCJ" jdbcType="VARCHAR" property="sfcj" />
    <result column="SFSTJC" jdbcType="VARCHAR" property="sfstjc" />
    <result column="SSWP" jdbcType="VARCHAR" property="sswp" />
    <result column="QCSP" jdbcType="VARCHAR" property="qcsp" />
    <result column="CBDW_BH" jdbcType="VARCHAR" property="cbdwBh" />
    <result column="CBR_SFZH" jdbcType="VARCHAR" property="cbrSfzh" />
    <result column="SFCJDZ" jdbcType="VARCHAR" property="sfcjdz" />
    <result column="SFSTJCDZ" jdbcType="VARCHAR" property="sfstjcdz" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    AJBH, RYBH, XM, SFZH, RSSJ, LSSJ, RYGJ, SFCJ, SFSTJC, SSWP, QCSP, CBDW_BH, CBR_SFZH, 
    SFCJDZ, SFSTJCDZ
  </sql>
  <insert id="insert" parameterType="io.sam.db.domain.QbBaqry">
    <!--@mbg.generated-->
    insert into Qb_Baqry (AJBH, RYBH, XM, 
      SFZH, RSSJ, LSSJ, 
      RYGJ, SFCJ, SFSTJC, 
      SSWP, QCSP, CBDW_BH, 
      CBR_SFZH, SFCJDZ, SFSTJCDZ
      )
    values (#{ajbh,jdbcType=VARCHAR}, #{rybh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, 
      #{sfzh,jdbcType=VARCHAR}, #{rssj,jdbcType=TIMESTAMP}, #{lssj,jdbcType=TIMESTAMP}, 
      #{rygj,jdbcType=VARCHAR}, #{sfcj,jdbcType=VARCHAR}, #{sfstjc,jdbcType=VARCHAR}, 
      #{sswp,jdbcType=VARCHAR}, #{qcsp,jdbcType=VARCHAR}, #{cbdwBh,jdbcType=VARCHAR}, 
      #{cbrSfzh,jdbcType=VARCHAR}, #{sfcjdz,jdbcType=VARCHAR}, #{sfstjcdz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.sam.db.domain.QbBaqry">
    <!--@mbg.generated-->
    insert into Qb_Baqry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ajbh != null">
        AJBH,
      </if>
      <if test="rybh != null">
        RYBH,
      </if>
      <if test="xm != null">
        XM,
      </if>
      <if test="sfzh != null">
        SFZH,
      </if>
      <if test="rssj != null">
        RSSJ,
      </if>
      <if test="lssj != null">
        LSSJ,
      </if>
      <if test="rygj != null">
        RYGJ,
      </if>
      <if test="sfcj != null">
        SFCJ,
      </if>
      <if test="sfstjc != null">
        SFSTJC,
      </if>
      <if test="sswp != null">
        SSWP,
      </if>
      <if test="qcsp != null">
        QCSP,
      </if>
      <if test="cbdwBh != null">
        CBDW_BH,
      </if>
      <if test="cbrSfzh != null">
        CBR_SFZH,
      </if>
      <if test="sfcjdz != null">
        SFCJDZ,
      </if>
      <if test="sfstjcdz != null">
        SFSTJCDZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ajbh != null">
        #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="rybh != null">
        #{rybh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="rssj != null">
        #{rssj,jdbcType=TIMESTAMP},
      </if>
      <if test="lssj != null">
        #{lssj,jdbcType=TIMESTAMP},
      </if>
      <if test="rygj != null">
        #{rygj,jdbcType=VARCHAR},
      </if>
      <if test="sfcj != null">
        #{sfcj,jdbcType=VARCHAR},
      </if>
      <if test="sfstjc != null">
        #{sfstjc,jdbcType=VARCHAR},
      </if>
      <if test="sswp != null">
        #{sswp,jdbcType=VARCHAR},
      </if>
      <if test="qcsp != null">
        #{qcsp,jdbcType=VARCHAR},
      </if>
      <if test="cbdwBh != null">
        #{cbdwBh,jdbcType=VARCHAR},
      </if>
      <if test="cbrSfzh != null">
        #{cbrSfzh,jdbcType=VARCHAR},
      </if>
      <if test="sfcjdz != null">
        #{sfcjdz,jdbcType=VARCHAR},
      </if>
      <if test="sfstjcdz != null">
        #{sfstjcdz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>