<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sam.db.mapper.QdBaqryCy01Mapper">
  <resultMap id="BaseResultMap" type="io.sam.db.domain.QdBaqryCy01">
    <!--@mbg.generated-->
    <!--@Table qd_baqry_cy01-->
    <id column="RYBH" jdbcType="VARCHAR" property="rybh" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="SFZH" jdbcType="VARCHAR" property="sfzh" />
    <result column="RSSJ" jdbcType="TIMESTAMP" property="rssj" />
    <result column="LSSJ" jdbcType="TIMESTAMP" property="lssj" />
    <result column="RYGJ" jdbcType="VARCHAR" property="rygj" />
    <result column="SFCJ" jdbcType="VARCHAR" property="sfcj" />
    <result column="SFSTJC" jdbcType="VARCHAR" property="sfstjc" />
    <result column="SSWP" jdbcType="VARCHAR" property="sswp" />
    <result column="QCSP" jdbcType="VARCHAR" property="qcsp" />
    <result column="CBDW_BH" jdbcType="VARCHAR" property="cbdwBh" />
    <result column="CBR_SFZH" jdbcType="VARCHAR" property="cbrSfzh" />
    <result column="SFCJDZ" jdbcType="VARCHAR" property="sfcjdz" />
    <result column="SFSTJCDZ" jdbcType="VARCHAR" property="sfstjcdz" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    RYBH, AJBH, XM, SFZH, RSSJ, LSSJ, RYGJ, SFCJ, SFSTJC, SSWP, QCSP, CBDW_BH, CBR_SFZH, 
    SFCJDZ, SFSTJCDZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qd_baqry_cy01
    where RYBH = #{rybh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from qd_baqry_cy01
    where RYBH = #{rybh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="io.sam.db.domain.QdBaqryCy01">
    <!--@mbg.generated-->
    insert into qd_baqry_cy01 (RYBH, AJBH, XM, 
      SFZH, RSSJ, LSSJ, 
      RYGJ, SFCJ, SFSTJC, 
      SSWP, QCSP, CBDW_BH, 
      CBR_SFZH, SFCJDZ, SFSTJCDZ
      )
    values (#{rybh,jdbcType=VARCHAR}, #{ajbh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, 
      #{sfzh,jdbcType=VARCHAR}, #{rssj,jdbcType=TIMESTAMP}, #{lssj,jdbcType=TIMESTAMP}, 
      #{rygj,jdbcType=VARCHAR}, #{sfcj,jdbcType=VARCHAR}, #{sfstjc,jdbcType=VARCHAR}, 
      #{sswp,jdbcType=VARCHAR}, #{qcsp,jdbcType=VARCHAR}, #{cbdwBh,jdbcType=VARCHAR}, 
      #{cbrSfzh,jdbcType=VARCHAR}, #{sfcjdz,jdbcType=VARCHAR}, #{sfstjcdz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.sam.db.domain.QdBaqryCy01">
    <!--@mbg.generated-->
    insert into qd_baqry_cy01
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rybh != null">
        RYBH,
      </if>
      <if test="ajbh != null">
        AJBH,
      </if>
      <if test="xm != null">
        XM,
      </if>
      <if test="sfzh != null">
        SFZH,
      </if>
      <if test="rssj != null">
        RSSJ,
      </if>
      <if test="lssj != null">
        LSSJ,
      </if>
      <if test="rygj != null">
        RYGJ,
      </if>
      <if test="sfcj != null">
        SFCJ,
      </if>
      <if test="sfstjc != null">
        SFSTJC,
      </if>
      <if test="sswp != null">
        SSWP,
      </if>
      <if test="qcsp != null">
        QCSP,
      </if>
      <if test="cbdwBh != null">
        CBDW_BH,
      </if>
      <if test="cbrSfzh != null">
        CBR_SFZH,
      </if>
      <if test="sfcjdz != null">
        SFCJDZ,
      </if>
      <if test="sfstjcdz != null">
        SFSTJCDZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rybh != null">
        #{rybh,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="rssj != null">
        #{rssj,jdbcType=TIMESTAMP},
      </if>
      <if test="lssj != null">
        #{lssj,jdbcType=TIMESTAMP},
      </if>
      <if test="rygj != null">
        #{rygj,jdbcType=VARCHAR},
      </if>
      <if test="sfcj != null">
        #{sfcj,jdbcType=VARCHAR},
      </if>
      <if test="sfstjc != null">
        #{sfstjc,jdbcType=VARCHAR},
      </if>
      <if test="sswp != null">
        #{sswp,jdbcType=VARCHAR},
      </if>
      <if test="qcsp != null">
        #{qcsp,jdbcType=VARCHAR},
      </if>
      <if test="cbdwBh != null">
        #{cbdwBh,jdbcType=VARCHAR},
      </if>
      <if test="cbrSfzh != null">
        #{cbrSfzh,jdbcType=VARCHAR},
      </if>
      <if test="sfcjdz != null">
        #{sfcjdz,jdbcType=VARCHAR},
      </if>
      <if test="sfstjcdz != null">
        #{sfstjcdz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.sam.db.domain.QdBaqryCy01">
    <!--@mbg.generated-->
    update qd_baqry_cy01
    <set>
      <if test="ajbh != null">
        AJBH = #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        XM = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        SFZH = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="rssj != null">
        RSSJ = #{rssj,jdbcType=TIMESTAMP},
      </if>
      <if test="lssj != null">
        LSSJ = #{lssj,jdbcType=TIMESTAMP},
      </if>
      <if test="rygj != null">
        RYGJ = #{rygj,jdbcType=VARCHAR},
      </if>
      <if test="sfcj != null">
        SFCJ = #{sfcj,jdbcType=VARCHAR},
      </if>
      <if test="sfstjc != null">
        SFSTJC = #{sfstjc,jdbcType=VARCHAR},
      </if>
      <if test="sswp != null">
        SSWP = #{sswp,jdbcType=VARCHAR},
      </if>
      <if test="qcsp != null">
        QCSP = #{qcsp,jdbcType=VARCHAR},
      </if>
      <if test="cbdwBh != null">
        CBDW_BH = #{cbdwBh,jdbcType=VARCHAR},
      </if>
      <if test="cbrSfzh != null">
        CBR_SFZH = #{cbrSfzh,jdbcType=VARCHAR},
      </if>
      <if test="sfcjdz != null">
        SFCJDZ = #{sfcjdz,jdbcType=VARCHAR},
      </if>
      <if test="sfstjcdz != null">
        SFSTJCDZ = #{sfstjcdz,jdbcType=VARCHAR},
      </if>
    </set>
    where RYBH = #{rybh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.sam.db.domain.QdBaqryCy01">
    <!--@mbg.generated-->
    update qd_baqry_cy01
    set AJBH = #{ajbh,jdbcType=VARCHAR},
      XM = #{xm,jdbcType=VARCHAR},
      SFZH = #{sfzh,jdbcType=VARCHAR},
      RSSJ = #{rssj,jdbcType=TIMESTAMP},
      LSSJ = #{lssj,jdbcType=TIMESTAMP},
      RYGJ = #{rygj,jdbcType=VARCHAR},
      SFCJ = #{sfcj,jdbcType=VARCHAR},
      SFSTJC = #{sfstjc,jdbcType=VARCHAR},
      SSWP = #{sswp,jdbcType=VARCHAR},
      QCSP = #{qcsp,jdbcType=VARCHAR},
      CBDW_BH = #{cbdwBh,jdbcType=VARCHAR},
      CBR_SFZH = #{cbrSfzh,jdbcType=VARCHAR},
      SFCJDZ = #{sfcjdz,jdbcType=VARCHAR},
      SFSTJCDZ = #{sfstjcdz,jdbcType=VARCHAR}
    where RYBH = #{rybh,jdbcType=VARCHAR}
  </update>
</mapper>